<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corn note</title>
    <link rel="stylesheet" href="{{url_for('static',filename='estilo3a.css')}}">
</head>
<body>

  <div class="conteudo">
    <div id="nav">
         <div id="menu">
       <a href="{{url_for('homepagear')}}"> Enfermedades del maiz</a>
        <a href="{{url_for('page1ar')}}"> Corn note</a>
        <a href="{{url_for('page2ar')}}"> DREC_NREC </a>
        <a href="{{url_for('gestaoprodutosar')}}"> Gestión de productos</a>
        <label>{{ nome}}</label> 
    </div>
    </div>
<form action="{{ url_for('page1ar') }}" method="post" {{desabilita3}}>
    <!- monta a area onde o usuario escolhe os dados do produto pelos combos ->
    <div id="main">
    <div id="produto3">
            <label>Zone</label>
           </div>
   <div id="cb3">
         <p1>
           <p>
            <select id="cb3" name="cb3" onchange="this.form.submit()" {{desabilita3}} >
              <option value="{{ cb3 }}"> {{ cb3}}</option>
              {% for pipeline in pipeline1%}
              <option value="{{ pipeline }}">{{ pipeline }}</option>
                {% endfor %}
               <option value="" ></option>
      </select>
      </p>
           </p1>
            </div>
    </div>        
<div id="main1">
         <div id="produto">
            <label>Producto</label>
           </div>

        <div id="cb1">
           <p>
            <select id="cb1" name="cb1" onchange="this.form.submit()" {{desabilita3}}>
              <option value="{{ cb1 }}"> {{ cb1}}</option>

       {% for produto in produt1 %}
        <option value="{{ produto }}">{{ produto}}</option>
      {% endfor %}
               <option value="" ></option>
   </select>
      </p>

            </div>
    </div>
     <div id="main2">
     <div id="produto2">
            <label>BioTecnologia</label>
           </div>
  <div id="cb2">
         <p1>
           <p>
            <select id="cb2" name="cb2"  onchange="this.form.submit()" {{desabilita3}} >
              <option value="{{ cb2 }}" > {{ cb2 }}</option>
           {% for bio_tecnologia in bio_tecnologia1%}
            <option value="{{ bio_tecnologia }}">{{ bio_tecnologia }}</option>
            {% endfor %}

              <option value="" ></option>
            </select>
      </p>
           </p1>
            </div>
</div>
     
         <div id="main3">
        <div id="produto4">
                <label>Nota para editar </label>
               </div>
            <div id="cb4">
               <p>
                <select id="cb4" name=cb4 {{desabilita2}}>
                <option value="{{ cb4 }}"> {{ cb4}}</option>
                {% for dados in dados%}
                  <option value="{{ dados }}">{{ dados }}</option>
                    {% endfor %}
            </select>
          </p>
            </div>            
          <p>
	    <!- monta a area onde o usuario escolhe os dados que serao colocados na nota ->
            <label>Elige o describe</label>
            <div id="cb5">
            <select id="cb5" name=cb5 onchange="this.form.submit()" {{desabilita2}}>
            <option value="{{ cb5 }}"> {{ cb5}}</option>
            {% for dados1 in dados1%}
              <option value="{{ dados1 }}">{{ dados1 }}</option>
                {% endfor %}
        </select>
      </p>      
        <p>
            <textarea id="story1" name="story1"
          rows="8" cols="36"  {{desabilita2}} {{cursor1}}> {{rec1}}</textarea>              
    
          <button Type="button"class="btn-second3" onclick="this.form.submit()" {{desabilita1}}> Continuar adicionando </button>
              
        </div>

        </div>
</form>
    <div id="conteudo3">
            <label>Nota de cambio de información</label>
        <p>
            <textarea id="story" name="story"
          rows="4" cols="36"  {{desabilita2}} {{rquer1}}>{{info1}}</textarea>      
    
        </p>
        </div>
     <div id="main5">
        <!- monta os botões para ediçao, cancelar a açao e salvar além do botao para baixar uma planilha de exemplo ->
        </div>
        <div id="conteudo4">
          <form action="{{ url_for('editar2ar') }}" method="post">
                    <button Type="button"class="btn-primary" {{desabilita4}} onclick="this.form.submit()"> Editar </button>
          </form>
                    <form action="{{ url_for('salvar2ar') }}" method="post">
                      <button Type="button"class="btn-second" {{desabilita1}} onclick="this.form.submit()"> Guardar </button>
                    </form>
                    <form action="{{ url_for('page1ar') }}" method="get">
                     <button Type="button"class="btn-second1" {{desabilita1}} onclick="this.form.submit()" > Cancelar </button>
                    
                    </form>
                    <button Type="button"class="btn-second2" {{desabilita1}}> </button>
                    
                </div>
            <div id="conteudo5">
                    <label>Información híbrida</label>
		    <!- monta a area onde ficam os dados do produto selecionado ->
                    <iframe src="{{url_for('page3ar')}}" scrolling = "yes" height="100%" margiheight ="10">
                    </iframe>
                </div>           
              
                
            <div id="conteudo7">
                  <p>
                    <a href= "{{url_for('get_arquivo3ar')}}" download="notedescript.csv" type="aplicativo/pdf">Descargue el archivo csv aquí </a>
                </p>         
            </div>
    <div id="footer"></div>
    </div>
</body>
</html>