*{
    margin: 0;
    padding: 0;
}

.conteudo2{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr 1fr 1fr .5fr 0.5fr;
    grid-template-areas: "nav  nav nav "
                         "sidebar  main2   conteudo8"
                         "sidebar  main1 conteudo8"
                         "sidebar  main conteudo8"
                         "sidebar  conteudo7 conteudo8"
                         "sidebar  main3 conteudo8"
                         "footer  footer  footer" ;
   grid-gap: 0.1em;

}
#nav{

    display: flex;
    justify-content:left;
    align-items: center;
    background-color: rgb(214, 214, 214);
    grid-area: nav;
    font-size:8px;
   font-family:  Verdana;
   font-weight: 350;
}
#menu a{
    text-decoration: none;
 background-color: rgb(214, 214, 214);
    font-size: 20px;
    margin-left: 28px;
    padding: 3px 45px;
    color:black;
    text-align: center;
    border-radius: 15px;
}
#menu a:hover{
     color:blue; 
     transition: 1s;
}
#menu label{ 
    margin: 0px 0px 0px 100px;
    font-size: 20px;
    color:black; 
}
#sidebar{
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: rgb(214, 214, 214);
    grid-area: sidebar;
    font-size:8px;
   font-family:  Verdana;
   font-weight: 550;
}
#main {
display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(185, 185, 185);

   grid-area: main;
   font-size:12px;
   font-family:  Verdana;
   font-weight: 550;

   }

#main1{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(185, 185, 185);
    grid-area: main1;
    font-size:12px;
   font-family:  Verdana;
   font-weight: 550;
}

#main2{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    grid-area: main2;
    font-size:20px;
   font-family:  Verdana;
   font-weight: 350;
}
#main3{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(214, 214, 214);
    grid-area: main3;
    font-size:20px;
   font-family:  Verdana;
   font-weight: 550;
}
#conteudo8{
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: rgb(214, 214, 214);
    grid-area: conteudo8;
    font-size:12px;
   font-family:  Verdana;
   font-weight: 550;
}
#conteudo7{

    display: flex;
    justify-content:left;
    align-items: center;
    background-color: rgb(185, 185, 185);
    grid-area: conteudo7;
    font-size:12px;
   font-family:  Verdana;
   font-weight: 550;

}
#conteudo7 a{
    text-decoration: none;
 background-color: rgb(214, 214, 214);
    font-size: 16px;
    margin-left: 20px;
    padding: 3px 45px;
    color:black;
    text-align: center;
    border-radius: 15px;
}
#conteudo7a:hover{
     color:blue; 
     transition: 1s;
}
.btn-second{
background-color: rgb(194, 194, 194);
padding: 7px 25px;
border: 1px solid #999;
border-radius : 7px;
cursor: pointer;
margin: 8px 10px 8px 50px;
}
.btn-second:hover {
background-color:  rgb(165, 220, 165);
transition: 1s;
}
.btn-second1{
background-color: rgb(194, 194, 194);
padding: 7px 25px;
border: 1px solid #999;
border-radius : 7px;
cursor: pointer;
margin: 8px 10px 8px 50px;
}
.btn-second1:hover {
background-color:  rgb(165, 220, 165);
transition: 1s;
}
#footer{
    display: flex;
    justify-content:left;
    align-items: center;
    background-color: rgb(214, 214, 214);
    grid-area: footer;
    font-size:8px;
   font-family:  Verdana;
   font-weight: 550;
}